.cardapio{
    background-color: var(--cor-branca);
    display: flex;
    flex-direction: column;
    padding: 32px 80px;
}
.cardapio-titulo{
    background-color: aqua;
    height: 65px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.cardapio-titulo h3{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--cor-branca);
}
.cardapio-favoritas{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 30px;
}
.header-area{
    display: flex;
    justify-content: space-between;
}
.header-area p{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--cor-primaria);
}
.produtos-container{
    display: flex;
    justify-content: space-between;
}
.cardapio-menu{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 30px;
}
.cardapio-bebidas{
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
}
.cardapio-bebidas .bebida{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
    padding: 8px;
}
.cardapio-bebidas .add{
    position: absolute;
    top: -20px;
    right: -20px;
    opacity: 0;
    transition: .5s;
}
.cardapio-bebidas .bebida:hover{
    box-shadow: 2px 2px 4px var(--cor-sombra);
    border-radius: 4px;
}
.cardapio-bebidas .bebida:hover .add{
    opacity: 1;
}
.cardapio-bebidas .info{
    display: flex;
    flex-direction: column-reverse;
}
.cardapio-bebidas .info-preco{
    color: var(--cor-primaria);
    font-size: 600;
}
.cardapio-bebidas .info-texto{
    font-size: .8rem;
}