.produto{
    position:relative ;
}
.produto .info{
    position: absolute;
    bottom: 10px;
    width: 100%;
    background-color: var(--cor-sombra);
    font-size: 0.8rem;
    display: flex;
    height: 36px;
    justify-content: space-between;
    align-items: center;
    color: var(--cor-branca);
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 0px 0px 12px 12px;
    transition: 1s;
    opacity: 0;
}
.info-texto{
    width: 140px;

}

.produto:hover .info{
    opacity: 1;
}
.produto .add{
    position: absolute;
    top: -12;
    right: -12px;
    opacity: 0;
}
.produto:hover .add{
    opacity: 1;
}
.produto .info-preço{
    background-color: var(--cor-primaria);
    padding: 4px 8px 4px 8px;
    border-radius: 6px;
}